.container-mru{
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    gap: 20px; /* Espacio entre filas */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 10px; /* Esquinas redondeadas */
    background-color: white;
}

.info-mru{
    text-align: center;
    align-items: center;
}

.info-mru img{
    max-width: 100%;
}

.form-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"], input[type="submit"] {
    margin: 5px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

#results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f9f9f9;
}